<!DOCTYPE html>
<html>
  <head>
    <title>RunMapper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Add google maps API key and add to window -->
     <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&libraries=places" %>

     <script type="text/javascript">
            window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
        // Images will go here 
            window.default_avatar = "<%= image_url('avatar_run_male_80.jpg') %>";
            window.logo = "<%= image_url('logo.png') %>";
      
    </script>

    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %>
      </script>
    <% end %>
    
     <!-- CSS files -->
    <script src="https://use.fontawesome.com/71f22e43f5.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
